
<div class="container main-container">
    <h4>Detalhes da Tarefa {{tarefa.titulo}}</h4>
    <hr />
     <form novalidate [formGroup]="cadastroForm"> 
        <!--//public int Id { get; set; }
        //public string Titulo { get; set; }
        //public string Descricao { get; set; }
        //public DateTime DataCriacao { get; set; }
        //public DateTime DataEdicao { get; set; }
        //public DateTime DataConclusao { get; set; }
        //public bool Status { get; set; }-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="id">Id</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="id" type="text" formControlName="id" />
            </div>
            <label class="col-md-2 control-label" for="titulo">Titulo</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="titulo" type="text" formControlName="titulo" />
            </div>
            <label class="col-md-2 control-label" for="descricao">Descrição</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="descricao" type="text" formControlName="descricao" />
            </div>
            <label class="col-md-2 control-label" for="dataCriacao">Data Criação</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="dataCriacao" type="date" formControlName="dataCriacao" />
            </div>
            <label class="col-md-2 control-label" for="dataEdicao">Data Edição</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="dataEdicao" type="{{inputTypeDataEdicao}}" formControlName="dataEdicao" />
            </div>
            <label class="col-md-2 control-label" for="dataConclusaoData">Data Conclusão</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="dataConclusaoData" type="{{inputTypeDataConclusao}}" formControlName="dataConclusao" />
            </div>
            <label class="col-md-2 control-label" for="status">Status</label>
            <div class="col-md-10">
                <input class="form-control no-selection" [readonly]="true" id="status" type="text" formControlName="status" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-danger" id="voltar" (click)="voltar()">Voltar</button></span>
            </div>
        </div>
    </form>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>


