<div class="container main-container">
    <h4>Lista Funcionarios</h4>
    <hr />
    <div style="float: right;">
        <button class="btn btn-dark" [routerLink]="['/tarefa/criar']">Cadastrar</button>
        <button class="btn btn-dark" [routerLink]="['/tarefa/editar', tarefaSelecionada]"
        [disabled]="!tarefaSelecionada">Editar</button>
        <button class="btn btn-dark" [routerLink]="['/tarefa/detalhes', tarefaSelecionada]"
        [disabled]="!tarefaSelecionada">Detalhes</button>
        <button class="btn btn-dark" (click)="abrirConfirmacao(modalExclusao)"
        [disabled]="!tarefaSelecionada">Excluir</button>
    </div>
    <br>
    <br>
    <table class="table table-striped" data-click-to-select="true">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Data de edição</th>
                <th scope="col">Data de conclusão</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarefa of listaTarefas">
                <td>
                    <div class="custom-control">
                    <input type="radio" name="flexRadioDefault" class="custom-control-input" id="customRadio"
                        value="{{ tarefa.id }}" [(ngModel)]="tarefaSelecionada">
                </div></td>
                <td>{{ tarefa.id }}</td>
                <td>{{ tarefa.titulo }}</td>
                <td>{{ abreviarDescricao(tarefa.descricao)}}</td>
                <td>{{ tarefa.dataCriacao | date:'dd/MM/yyyy'}}</td>
                <td>{{ verificaSeTarefaFoiEditada(tarefa.dataEdicao) != 'Tarefa não editada' ? (verificaSeTarefaFoiEditada(tarefa.dataEdicao) | date:'dd/MM/yyyy'): verificaSeTarefaFoiEditada(tarefa.dataEdicao) }}</td>
                <td>{{ verificaSeTarefaFoiConcluida(tarefa.dataConclusao) != 'Tarefa não concluída' ? (verificaSeTarefaFoiConcluida(tarefa.dataConclusao) | date:'dd/MM/yyyy'): verificaSeTarefaFoiConcluida(tarefa.dataConclusao)}}</td>
                <td>{{ setarStatus(tarefa.status)}}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
       <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="atualizarTarefas()" [directionLinks]="false">
        </ngb-pagination>

        <!--<ngb-pagination [collectionSize]="collectionSize" [(page)]="page"></ngb-pagination>!-->
    </div>
</div>

<ng-template #modalExclusao let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Excluir Tarefa</h4>
    </div>
    <div class="modal-body">
        Deseja realmente excluir essa Tarefa?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Excluir')">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close('Cancelar')">Cancelar</button>
    </div>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts> 

